@import 'normalize.css';

:root{
    // font
    --font-fammily: "IBM Plex Sans", TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    --font-size: 16px;

    // background
    --background-mode: rgb(255, 255, 255);
    --background-color-blur: rgb(31, 31, 31);
    --background-color-hover-blur: rgba(255, 255, 255, 0.13);
    --background-color-action-video-hover-blur: rgba(255, 255, 255, 0.08);

    // text
    --text-color: #000000;
    --text-color-active: rgba(255, 59, 92, 1);
    --text-color-placeholder: rgba(255, 255, 255, 0.4);
    --text-color-actions: rgba(255, 255, 255, 0.9);
    --text-color-actions-75: rgba(255, 255, 255, 0.75);
}

[data-theme='dark'] {
    --background-mode: rgba(0, 0, 0, 1);
    --text-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    color: white;
    font-family: var(--font-fammily);
    font-weight: 500;
    letter-spacing: 0.15px;
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}